/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.head1 {
    display: flex;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
}

.btn {
    width: 150px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    
}


.nav-buttons .btn {
    block-size: 100px;
    margin-left: 20px;
    color: #070000;
    padding-top: 40px;
    font-size: 24px; /* Adjust the size as needed */
}

.hero {
    background-image: url('./images/bus-hero.png'); 
    background-size: cover;
    background-position: center;
    color: #fff;  
    text-align: center;
    padding: 340px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #D04848;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.8;
}

.features {
    background-color: #fff;
    padding: 50px 0;
}

.features h2 {
    text-align: center;
    margin-bottom: 30px;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature img {
    width: 100px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
